{% extends 'bank/basic.html' %}

{% block title %} View All Accounts {% endblock %}

{% block css %}
{% load static %}
   <style>
      h1 {
         text-align: center;
         color: #ff9900;
         text-decoration: underline;
         padding-bottom: 20px;
         padding-top: 20px;
        }
      .container{
         height: auto;
         min-height: 75vh;
        }
   </style>
{% endblock %}

{% block body %}
{% load static %}
  <div class="view">
    <div class="container col-md-8">
      <h1>ALL EXISTING ACCOUNTS</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Balance</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          {% for i in account%}
            <tr>
              <th scope="row">{{i.id}}.</th>
              <td>{{i.name}}</td>
              <td>{{i.email}}</td>
              <td>{{i.balance}}</td>
              <td><form method="POST" >{% csrf_token %}
                <button type="submit" value={{i.id}} name="transfer" class="btn btn-outline-secondary " >Transfer</button></form>
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}